<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signservlet</servlet-name>
        <servlet-class>Controller.Signservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Userdao</servlet-name>
        <servlet-class>Bean.Userdao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logservlet</servlet-name>
        <servlet-class>Controller.Logservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusController</servlet-name>
        <servlet-class>Controller.BusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusUpdate</servlet-name>
        <servlet-class>Controller.BusUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusOperation</servlet-name>
        <servlet-class>Dao.BusOperation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signservlet</servlet-name>
        <url-pattern>/Signservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Userdao</servlet-name>
        <url-pattern>/Userdao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logservlet</servlet-name>
        <url-pattern>/Logservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusController</servlet-name>
        <url-pattern>/BusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusUpdate</servlet-name>
        <url-pattern>/BusUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusOperation</servlet-name>
        <url-pattern>/BusOperation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
